/* .geospatial-data {
  padding: 20px;
  background-color: #eaf5e0;
  color: #333;
  font-family: "PT Sans", sans-serif;
}

.data-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.location-info,
.weather-info,
.recommendations-info {
  padding: 20px;
  background-color: #d0e9d6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  color: #2a7a2d;
}

p {
  margin: 5px 0;
}

/*ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #c9e0c1;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}
*/

/* Container to hold the form and map side-by-side */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Style for the form and map container */
.form-container {
  display: flex;
  flex-direction: column;
}

.map-container {
  width: 100%;
  height: 600px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

h1, h2 {
  font-size: 24px;
  font-weight: bold;
}

/* Form labels and input styles */
label {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.wide-input {
  width: 100%;
}

.weather-input {
  height: 200px;
  resize: vertical;
}