.job-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-job {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}
like-btn,
.dislike-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #5d6e1e;
}

.like-btn:hover,
.dislike-btn:hover {
  color: #cbe54e;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  resize: vertical;
}

.social-links a {
  margin-right: 10px;
  color: #5d6e1e;
}

.social-links a:hover {
  color: #cbe54e;
}

.btn-branding {
  background-color: #5d6e1e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-branding:hover {
  background-color: #cbe54e;
}
