/* Base Styles */
.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.map-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-column,
.right-column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.left-column h2,
.right-column h2 {
  color: black;
}

b,
strong {
  color: green;
  font-size: 20px;
}

.map {
  height: 500px; /* Fixed height */
  width: 100%; /* Full width of the column */
  border: 1px solid #ddd;
}

.filter-buttons {
  margin-bottom: 10px;
  text-align: center;
}

.filter-buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.filter-buttons .btn-primary {
  background-color: #007bff; /* Blue */
}

.filter-buttons .btn-success {
  background-color: #28a745; /* Green */
}

.filter-buttons .btn-warning {
  background-color: #ffc107; /* Yellow */
}

.filter-buttons .btn-info {
  background-color: #17a2b8; /* Teal */
}

.filter-buttons .btn-danger {
  background-color: #dc3545; /* Red */
}

.filter-buttons button:hover {
  opacity: 0.9;
}

.right-column {
  padding-left: 30px;
}

.right-column h2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.right-column ul {
  list-style: none;
  padding: 80px 30px 70px 10px;
}

.right-column li {
  margin-bottom: 20px;
}

.right-column p {
  font-size: 16px;
  margin: 0;
}

.left-column h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.left-column p {
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .map-container {
    flex-direction: column;
    gap: 10px;
  }

  .left-column,
  .right-column {
    padding: 10px;
  }

  .map {
    height: 200px;
  }

  .filter-buttons {
    margin-bottom: 15px;
  }

  .filter-buttons button {
    font-size: 12px;
  }

  .right-column h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .right-column p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .map-container {
    margin: 0px;
    flex-direction: column;
  }
  .left-column h2 {
    font-size: 24px;
  }

  .left-column,
  .right-column {
    padding: 5px;
  }

  .map {
    height: 300px;
  }

  .filter-buttons {
    margin-bottom: 15px;
  }

  .filter-buttons button {
    font-size: 12px;
    padding: 6px 10px;
  }

  .right-column h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .right-column p {
    font-size: 15px;
  }
}
