/* src/Cards.css */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding for spacing */
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px; /* Maximum width for the container */
}

.card {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s;
  margin: 10px;
  position: relative;
  flex: 1 1 calc(25% - 40px); /* Ensure the cards take up 25% of the container width with a margin */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.card-summary {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: black;
  text-align: center;
  font-size: 1.2rem; /* Adjust as needed */
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 10px; /* Reduced padding */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blurs the background */
  transform: translateY(100%);
  transition: transform 0.3s;
  height: 30%; /* Adjust as needed */
  font-size: 0.9rem; /* Smaller font size */
  overflow-y: auto; /* Adds scroll if needed */
}

.card:hover .card-info {
  transform: translateY(0);
}
