/* Ensure carousel images take up the full height of the viewport */
.carousel-image {
  height: 100vh;
  object-fit: cover;
}

/* Center text and buttons in carousel captions */
.carousel-caption {
  bottom: 50%; /* Center vertically */
  text-align: center;
  transform: translateY(50%);
}

/* Styling for headings and paragraphs */
.carousel-caption h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}

.carousel-caption p {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0.5rem;
}

/* Styling for buttons */
.hero-btns {
  margin-top: 1rem;
}

.hero-btns .btn {
  margin: 0.5rem;
}

/* Additional styling for different button types */
.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background-color: rgb(231,76,60);;
  border-color: rgb(231,76,60);;
}
