/* Desktop Navbar */
.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1500px;
  width: 100%;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: flex;
  gap: 10px;
  list-style: none;
  margin-left: auto; /* Moves the nav menu to the right */
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-out;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
}

.menu-icon {
  display: none;
}

/* Mobile Navbar */
@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    background: #242222;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: block;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    transform: translateY(50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    transform: translateY(50%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
  }
}
/* Desktop Navbar */
.nav-item {
  position: relative;
  display: flex;
  align-items: center;
}

/* Dropdown Menu Styles */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #242222;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px; /* Adjust the width as needed */
  z-index: 999;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  text-align: left;
}

.dropdown-links {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
}

.dropdown-links:hover {
  background-color: #fff;
  color: #242424;
}

/* Mobile Navbar */
@media screen and (max-width: 960px) {
  .dropdown-menu {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-item:hover .dropdown-menu {
    display: block;
  }
}
